

<div *ngIf="accommodation" class="container">
    <style>
        .accommodation-big-picture {
            width: 100%;
            height: 65%;
        }

        .accommodation-small-picture {
            width: 100%;
        }

        .room-mate-small-picture {
            width: 100%;

        }

        .room-mate-wrapper {
            position: relative;
        }

        .room-mate-label {
            position: absolute;
            bottom: 0px;
            padding: 5px;
        }

        .room-mate-first-name {
            background-color: #F14F5E;
        }

        .room-mate-last-name,
        .room-mate-match {
            background-color: #63D96B;
        }

        .column-header {
            background-color: #F14F5E;
            text-align: center;
            color: #ffffff;
            font-size: 20pt;
            height: 26px;
            margin-bottom: 5px;
        }

        .second-row {
            margin-top: 30px;
        }

        .room-mate-2-first-name,
        .lab {
            color: #F14F5E;
            font-weight: bold;
            font-size: 14pt;
        }

        .room-mate-2-age,
        .val {
            color: #63D96B;
            font-weight: bold;
            font-size: 14pt;
        }

        .btn.more {
            color: #ffffff;
            background-color: #F14F5E;
        }

        .third-row {
            margin-top: 30px;
        }

        .texts {
            background-color: #F14F5E;
            padding-top: 15px;
        }

        .texts p {
            color: #FFFFFF;
        }

        h3 {margin: 0;}
    </style>
    <div class="row first-row">
        <div class="col-sm-5">
            <div *ngFor="#roomMate of accommodation.roomMates" class="row">
                <div class="room-mate-wrapper col-sm-4">
                    <img src="{{roomMate.pictures[0].url}}" class="room-mate-small-picture">
                    <div class="room-mate-label">
                        <span class="room-mate-first-name label">{{roomMate.firstName}}</span>
                        <!--<span class="room-mate-last-name label">{{roomMate.lastName}}</span>-->
                        <span class="room-mate-match label">99 %</span>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="column-header">&nbsp;</div>
                    <div>
                        <span class="lab">Student</span>
                        <span class="val">AI - HTW Berlin</span>
                    </div>
                    <div>
                        <span class="lab">Gemeinsame Interessen</span>
                        <span class="val">The Killers, Boy &amp; Bear, Geheimtipp Hamburg</span>
                        <span class="lab">+19</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7 texts">
            <div>
                <h3 class="val">Intro</h3>
                <p>{{accommodation.introText}}</p>
            </div>
            <div>
                <h3 class="val">Zusammenleben</h3>
                <p>{{accommodation.socializingText}}</p>
            </div>
            <div>
                <h3 class="val">Sonstiges</h3>
                <p>{{accommodation.miscellaneousText}}</p>
            </div>
        </div>
    </div>
    <div class="row third-row">
        <div class="col-sm-12 text-center">
            <button class="btn btn-lg more" [routerLink]="['AccommodationFirstPage', {id: accommodation.id}]">zurück</button>
        </div>
    </div>
</div>