<style>
    .accommodation-card-image {
        width: 555px;
        height: 555px;
        cursor: pointer;
    }

    .accommodation-card {
        position: relative;
        width: 555px;
        height: 555px;
    }

    .room-mate {
        width: 60px;
        height: 60px;
        position: absolute;
        cursor: pointer;
    }

</style>

<div class="accommodation-card">
    <img
            width="{{accommodation.pictures[0].width}}"
            src="{{accommodation.pictures[0].url}}"
            class="img-circle accommodation-card-image"
            alt="{{accommodation.pictures[0].label}}"
            title="{{accommodation.pictures[0].label}}"
            [routerLink]="['Accommodation', {id: accommodation.id}]">


    <img
            *ngFor="#roomMate of accommodation.roomMates; #i = index"
            src="{{roomMate.pictures[0].url}}"
            class="img-circle room-mate room-mate-{{i}}"
            alt="{{roomMate.firstName}} {{roomMate.lastName}}"
            title="{{roomMate.firstName}} {{roomMate.lastName}}"
            [style.left] = "getCoordinateOfRoomMate(555, 60, (555 - (60 + 30) * (i + 1))).left"
            [style.bottom] = "getCoordinateOfRoomMate(555, 60, (555 - (60 + 30) * (i + 1))).bottom"
            [routerLink]="['User', {id: roomMate.id}]">


    <button
            style="border-radius: 50%;"
            class="btn btn-default room-mate room-mate-{{accommodation.roomMates.length}}"
            [style.left] = "getCoordinateOfRoomMate(555, 60, (555 - (60 + 30) * (accommodation.roomMates.length + 1))).left"
            [style.bottom] = "getCoordinateOfRoomMate(555, 60, (555 - (60 + 30) * (accommodation.roomMates.length + 1))).bottom">
        <i class="fa fa-plus fa-2x"></i>
    </button>

</div>

<div class="text-center" style="margin: 20px; font-size: 20pt;">
    <span class="label label-primary">Match: {{accommodation.match}} %</span>
    <span class="label label-success">Preis: {{accommodation.price}} €</span>
    <span class="label label-warning">Größe: {{accommodation.squareMeters}} m²</span>
</div>
