<div class="container">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div *ngFor="#accommodation of accommodations; #i = index" [class.hidden]="i !== 0">
                <roomio-accommodation-card [accommodation]="accommodation"></roomio-accommodation-card>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <button (click)="dislike()" class="btn btn-lg btn-danger" style="margin: 20px 0;"><i class="fa fa-thumbs-down fa-5x"></i></button>
                <button (click)="like()" class="btn btn-lg btn-success" style="margin: 20px;"><i class="fa fa-thumbs-up fa-5x"></i></button>
            </div>
        </div>
    </div>
</div>
