<style>
    table.table > tbody > tr > td {
        vertical-align: middle;
    }
</style>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th></th>
                <th>Beschreibung</th>
                <th>Datum</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><img class="img-rounded" style="width:60px; height: 60px;" src="img/zimmer1.jpg"></td>
                <td style="width:100%;">Toller Raum in Berlin</td>
                <td>15.02.2016</td>
                <td><button class="btn btn-primary btn-lg">Chatraum öffnen</button></td>
            </tr>            <tr>
                <td>2</td>
                <td><img class="img-rounded" style="width:60px; height: 60px;" src="img/zimmer2.jpg"></td>
                <td style="width:100%;">Toller Raum in Hamburg</td>
                <td>15.02.2016</td>
                <td><button class="btn btn-primary btn-lg">Chatraum öffnen</button></td>
            </tr>            <tr>
                <td>3</td>
                <td><img class="img-rounded" style="width:60px; height: 60px;" src="img/zimmer3.jpg"></td>
                <td style="width:100%;">Toller Raum in Schüttorf</td>
                <td>15.02.2016</td>
                <td><button class="btn btn-primary btn-lg">Chatraum öffnen</button></td>
            </tr>            <tr>
                <td>4</td>
                <td><img class="img-rounded" style="width:60px; height: 60px;" src="img/zimmer4.jpg"></td>
                <td style="width:100%;">Toller Raum in Berlin</td>
                <td>15.02.2016</td>
                <td><button class="btn btn-primary btn-lg">Chatraum öffnen</button></td>
            </tr>
        </tbody>
    </table>
</div>